In [2]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set;

In [3]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
print(f"The shape of the train set: {train.shape}, The shape of the test set: {test.shape}")

The shape of the train set: (7613, 5), The shape of the test set: (3263, 4)

In [4]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
test.tail()

,id,keyword,location,text
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [6]:
train.describe().T

         count         mean         std  min     25%     50%     75%      max
id      7613.0  5441.934848  3137.11609  1.0  2734.0  5408.0  8146.0  10873.0
target  7613.0     0.429660     0.49506  0.0     0.0     0.0     1.0      1.0